In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
data = pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [3]:
data_new = data.drop_duplicates()

In [4]:
print("shape before dropping duplicates:", data.shape)
print("shape after dropping duplicates:", data_new.shape)

shape before dropping duplicates: (1025, 14)
shape after dropping duplicates: (302, 14)

In [5]:
#Data preprocessing
categorical_data = []
continuous_data = []
for i in data_new.columns:
    if data_new[i].nunique() <= 10:
        categorical_data.append(i)
    else:
        continuous_data.append(i)

In [6]:
categorical_data

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [7]:
continuous_data

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [8]:
#encoding catregorical data
categorical_data.remove('target')
categorical_data.remove('sex')
data = pd.get_dummies(data_new,columns=categorical_data,drop_first=True)
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,168,1.0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,53,1,140,203,155,3.1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,70,1,145,174,125,2.6,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,61,1,148,203,161,0.0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,62,0,138,294,106,1.9,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0

In [9]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
data[continuous_data]= st.fit_transform(data[continuous_data])
data.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,-0.267966,1,-0.376556,-0.667728,0.806035,-0.037124,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.157260,1,0.478910,-0.841918,0.237495,1.773958,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1.724733,1,0.764066,-1.403197,-1.074521,1.342748,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0.728383,1,0.935159,-0.841918,0.499898,-0.899544,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,0.839089,0,0.364848,0.919336,-1.905464,0.739054,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0

In [10]:
#split the data set
X = data.drop('target',axis=1)
y = data['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7868852459016393

In [12]:
#SVC
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
accuracy_score(y_test, y_pred)

0.8032786885245902

In [13]:
#KNn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_test, y_pred)

0.8032786885245902

In [14]:
#NON-LINEAR ML ALGO
#FOR NON LINEAR WE DONOT NEED FEATURE SCALING
#FOR LINEAR WE NEED FEATURE SCALING
data1 = pd.read_csv('heart.csv')
data1 = data1.drop_duplicates()
data1.shape

(302, 14)

In [15]:
X = data1.drop('target',axis=1)
y = data1.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
#Decion Tree
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)
y_pred = dtree.predict(X_test)
accuracy_score(y_test, y_pred)

0.7213114754098361

In [17]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
accuracy_score(y_test, y_pred)

0.8360655737704918

In [18]:
#Prediction on new data using Rn\andom Forest
data1.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [19]:
new_data  =  pd.DataFrame({
    'age':[47],
    'sex':1,
    'cp':0,
    'trestbps':125,
    'chol':212,
    'fbs':0,
    'restecg':1,
    'thalach':168,
    'exang':0,
    'oldpeak':1.0,
    'slope':2,
    'ca':2,
    'thal':3,  
},index=[0])

In [20]:
new_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,47,1,0,125,212,0,1,168,0,1.0,2,2,3

In [21]:
p = rfc.predict(new_data)
p

array([0], dtype=int64)

In [22]:
if p==0:
    print("The patient is not having heart disease")
else:
    print("The patient is having heart disease")

The patient is not having heart disease

In [23]:
#Save the model
import joblib
joblib.dump(rfc, 'heart_prediction.pkl')

['heart_prediction.pkl']

In [24]:
model = joblib.load('heart_prediction.pkl')
model.predict(new_data)

array([0], dtype=int64)

In [25]:
import pickle
pickle.dump(rfc, open('model.pkl','wb'))